<footer></footer>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-analytics.js"></script>

<script>

    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyA5OV9nGzzJHBaoQRAczQ7Ju_flUYwpMw8",
        authDomain: "cartman-blog.firebaseapp.com",
        databaseURL: "https://cartman-blog.firebaseio.com",
        projectId: "cartman-blog",
        storageBucket: "cartman-blog.appspot.com",
        messagingSenderId: "1014974132849",
        appId: "1:1014974132849:web:d4480c41716d4266d061d0",
        measurementId: "G-Y5XLQW0R6V"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
