<!doctype html>
<html lang="en">
  {% include "components/head.njk" %}
  <body>
    <div class="container">
      {% include "components/nav.njk" %}
    </div>
    <main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
  </body>
</html>
